:root {
  // Colors
  --color-white: #ffffff;
  --color-blue-12: #191A23;
  --color-blue-14: #1D1E28;
  --color-blue-26: #343650;
  --color-blue-59: #8385A9;
  --color-pink-68: #FB5E84;

  // Font Weights
  --weight-bold: 700;

  // Design elements
  --transition: 300ms ease-in-out;
  --easeInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

// Reset
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 0;
  color: var(--color-white);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-blue-14);
  font-family: 'Red Hat Text', sans-serif;
}

h2,
h3,
p {
  margin: 0;
}

.App {
  padding: 0 2.4rem;
}


.countdown-contrl {
  width: 30rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

button {
  border: none;
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: .8rem;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  background-color: var(--color-pink-68);
  font-family: 'Red Hat Text', sans-serif;
  position: relative;
  z-index: 1;
  box-shadow: 0 .4rem 1.4rem 0 rgba(251,94,132,0.39);
  transition: var(--transition) background-color;

  &:focus {
    outline: 2px dotted var(--color-pink-68);
    outline-offset: 2px;
  }

  &:hover {
    background-color: #f17493;
  }
}

button:disabled {
  cursor: none;
  animation-delay: 2s;
  animation-duration: .6s;
  animation-name: fadeOut;
  background-color: #f187a1;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); z-index: 1; }
  to { opacity: 0; transform: translateY(-2rem); z-index: -10; }
}