:root {
  // Colors
  --color-white: #ffffff;
  --color-blue-12: #191A23;
  --color-blue-14: #1D1E28;
  --color-blue-26: #343650;
  --color-blue-59: #8385A9;
  --color-pink-68: #FB5E84;

  // Font Weights
  --weight-bold: 700;

  // Design elements
  --transition: 300ms ease-in-out;
  --easeInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

// Reset
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 0;
  color: var(--color-white);
  background-repeat: no-repeat;
  background-position: top center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-blue-14);
  font-family: 'Red Hat Text', sans-serif;
  background-image: url(../assets/images/bg-stars.svg);
}

h2,
h3,
p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.sr-only {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}


.countdown-contrl {
  width: 30rem;
  display: flex;
  margin: 6rem auto 0;
  justify-content: center;
}

button {
  z-index: 1;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
  padding: 1rem 2rem;
  border-radius: .4rem;
  letter-spacing: 1.6px;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  background-color: var(--color-pink-68);
  font-family: 'Red Hat Text', sans-serif;
  transition: var(--transition) background-color;
  box-shadow: 0 .4rem 1.4rem 0 rgba(251,94,132,0.39);

  &:focus {
    outline-offset: 2px;
    outline: 2px dotted var(--color-pink-68);
  }

  &:hover {
    background-color: #f17493;
  }
}

button:disabled {
  cursor: none;
  animation-delay: 2s;
  animation-duration: .6s;
  animation-name: fadeOut;
  background-color: #f187a1;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); z-index: 1; }
  to { opacity: 0; transform: translateY(-2rem); z-index: -10; }
}